# compiled output
/dist
/tmp
/out-tsc
build
/lib

# Generated js
# TODO: Is there a better way to do it
src/**/*.js

# dependencies
/**/node_modules

# package lock
/examples/correlation/package-lock.json

# ide
/.idea

# built artifact
hypertrace-nodejsagent-*.tgz